.skills-box {
  margin-top: 80px;

  ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    text-align: center;
    margin: 32px 0px;
    padding: 0px 40px;
  }
  li {
    margin: 20px;
  }
}

.section-title {
  font-size: 22px;
}

@media (max-width: 850px) {
  .skills-box {
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    li {
      margin: 0px;
    }
  }
}

@media (max-width: 450px) {
  .skills-box {
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    li {
      margin: 0px;
    }
  }
}
